opencv-python-headless
matplotlib==3.3.4
numpy
pandas
pycocotools
scikit-image
seaborn==0.11.1
streamlit
pillow==9.5.0
# Torch
#--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10
torchvision
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
detectron2
