matplotlib==3.3.4
numpy==1.19.2
pandas==0.24.2
pycocotools==2.0.2
scikit-image==0.17.2
seaborn==0.11.1
streamlit==0.84.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cu101
torchvision==0.7.0+cu101

# Detectron
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/index.html
detectron2

