opencv-python-headless
matplotlib==3.3.4
numpy==1.22.1
pandas
pycocotools==2.0.2
scikit-image
seaborn==0.11.1
streamlit
# Torch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10
torchvision
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
detectron2
